[data-dropdown] {
  position: relative;

  @keyframes show-up {
    from {
      opacity: 0;
      transform: translate3d(0, 30px, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  & .dropdown-menu {
    display: none;
    position: absolute;
    top: 38px;
    background: #e54;
    border: 2px solid #333;
    z-index: 200;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 30px;
      width: 0px;
      height: 0px;
      border-bottom: 10px solid #e54;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }

    & li a:hover {
      color: white;
    }
  }
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown].active .dropdown-menu {
  display: block;
  animation: show-up 0.3s forwards;
}
