@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body,
h1,
h2,
h3,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* 
Primary Colors
#00A896 — Emerald aqua (fresh, tropical, Brazilian coast)
#028090 — Deep teal (strong, professional)
#05668D — Ocean blue (stability + cultural tone)

Accent Colors
#F0C808 — Brazilian sunshine yellow (perfect for celebrations)
#F79F1F — Warm orange (Festa Junina, Carnaval vibe)

Neutrals
#F5F5F5 — Soft white
#1A1A1A — Soft black


Background: #F5F5F5
Headings: #05668D
Subtitles: #028090
Buttons / Highlights: #F0C808 or #F79F1F
Footer: #05668D with white text
Icons / dividers: #00A896 */

:root {
  /* colors */
  --soft_black: #1a1a1a;
  --soft_white: #f5f5f5;
  --highlights: #f79f1f;
  --header: #05668d;
  --subtitles: #028090;

  /* typography */
  --headings: "Playfair Display", serif;
  --body: "Inter", sans-serif;
}

body {
  /* background: #faf6ed; */
  background: var(--soft_white);
  /* color: #222; */
  color: var(--soft_black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin: 2rem 0px;
  background: var(--highlights);

  & [data-menu="list"] {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

    & li a {
      display: block;
      padding: 10px;
      margin-right: 10px;
      color: var(--soft_black);
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      font-family: var(--body);
      font-size: 0.875rem;
      letter-spacing: 0.1rem;
      cursor: pointer;
    }
  }
}

.grid-section {
  grid-column: 2/4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
  margin-bottom: 4rem;
}

.title {
  font-family: var(--headings);
  font-size: 4rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.celebrations {
  & .celebrations-list {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;

    & li {
      cursor: pointer;

      & img {
        height: 250px;
        width: 100%;
      }
    }

    &::-webkit-scrollbar {
      width: 18px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--highlights);
      border-left: 4px solid var(--soft_white);
      border-right: 4px solid var(--soft_white);
    }

    &::-webkit-scrollbar-track {
      background: var(--soft_white);
    }
  }

  & .celebrations-description {
    & section {
      margin-bottom: 3rem;
    }

    & h2 {
      font-family: var(--headings);
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-bottom: 1rem;
      color: var(--header);

      &::before {
        content: "";
        display: inline-block;
        width: 40px;
        height: 10px;
        margin-right: 10px;
        background: var(--highlights);
      }
    }

    & p {
      font-family: var(--body);
      line-height: 1.2;
      margin-bottom: 1rem;
    }

    & .bold {
      font-weight: 500;
    }
  }
}

.faq {
  & .faq-list {
    grid-column: 2/4;

    & dt {
      font-family: var(--headings);
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      color: var(--subtitles);

      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 10px;
        margin-right: 10px;
        background: var(--highlights);
      }
    }

    & dd {
      font-family: var(--body);
      margin-bottom: 0.5rem;
      margin-left: 30px;
    }
  }
}

.contact {
  & .info {
    grid-column: 3;

    & li {
      margin-bottom: 1rem;
      font-family: var(--body);

      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 10px;
        margin-right: 10px;
        background: var(--highlights);
      }
    }
  }
}

.copy {
  grid-column: 3/5;
  margin-bottom: 2rem;
  background: var(--highlights);

  & p {
    padding: 10px;
    font-family: var(--body);
    font-weight: bold;
  }
}

@media (max-width: 700px) {
  body {
    & .grid-container {
      grid-template-columns: 1fr;
    }

  }

  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }

  .menu {
    margin-top: 0px;
  }

  .copy {
    margin-bottom: 0px;
  }

  .grid-section {
    grid-template-columns: 100px 1fr;
    gap: 10px;

    & h1 {
      font-size: 3rem;
    }
  }

  .celebrations {
    & .celebrations-list {
      grid-column: 1;
    }
  }

  .faq-list,
  .info {
    grid-column: 1/3;
  }
}

.js-tabcontent section {
  display: none;
}

.js-tabcontent section.active {
  display: block !important;
}

.js-tabcontent section.active.show-right {
  animation: show-right 0.5s forwards;
}

.js-tabcontent section.active.show-down {
  animation: show-down 0.5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js .js-accordion dt {
  cursor: pointer;
}

.js .js-accordion dd {
  display: none;
}

.js-accordion dt::after {
  content: "⬎";
  margin-left: 10px;
}

.js-accordion dt.active::after {
  content: "⬏";
}

.js-accordion dd.active {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js .js-scroll.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
