.numbers-grid {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  & h3 {
    font-size: 2rem;
    font-family: "Playfair Display SC";
    margin-bottom: 0.5rem;
  }

  & span {
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    font-size: 1.5rem;
    color: #e54;
  }

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}
